Repository noclocks/dns, pull requests merged in 2024-04, with the labels that each got.

#35 [Feature]: Remove DMARC TXT Record and Update `default_.domainkey` TXT Record
  dnsconfig.js
Labels: breaking, config, feature

#37 Change `MX` & `TXT` (`SPF`) records to configure GMail hosting
  dnsconfig.js
Labels: breaking, feature

#38 [Feature]: Openai Domain Verification
  dnsconfig.js
Labels: config, feature

#43 Develop
  dnsconfig.js
  zones/noclocks.dev.csv
  zones/noclocks.dev.tsv
  zones/noclocks.dev.zone
Labels: breaking, config, feature

#46 [Feature]: Add CNAME Records for Google Workspace Tool Sub-Domains
  dnsconfig.js
Labels: config, enhancement, feature
